{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1 style="color: black; font-size: 75px;">About</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br>
                <p style="color: black; text-align: center; font-size: 50px; font-weight: bold;">Meet the Team</p>
                <p style="text-align: center; font-size: 20px;"> Adam Trommlitz <br>
                    Caroline Conley <br>
                    Matt Beckstrand <br>
                    Jack Kelly <br>
                    Parker Watts <br>
                    Baylee El-Bakhri<br>
                </p>
                
                <h2 style="color: black; text-align: center;">Why we created our project</h2>
                <p> We are group of Information Systems students that wanted to build a website aimed at raising awareness for human trafficking. As a team, we recognized the immense scale of human trafficking as a crime that affects millions of people worldwide. We were deeply motivated to take action against this heinous crime and make a meaningful difference. Our website aims to educate others about the issue and encourage people to take action against human trafficking. Through this project, we hope to inspire others to get involved and use technology to promote social justice and create positive change in the world.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}