{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="masthead" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Our Description of Human Trafficking</h1>
                    <span class="subheading">Utah, The United States, and Worldwide</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Human trafficking is a heinous crime that affects millions of people worldwide, and Utah is no exception. In fact, due to its geographic location and status as a transportation hub, Utah is considered a major hub for human trafficking. Victims of human trafficking are often forced into prostitution, labor, and other forms of exploitation. It is a form of modern-day slavery that robs individuals of their basic human rights and dignity.</p>
                <p>In the United States, human trafficking is a growing problem, with an estimated 25 million people trafficked worldwide. It is a complex issue that requires a comprehensive approach to address its root causes. Prevention efforts, such as educating the public on the signs of trafficking and providing support for at-risk populations, are crucial in combating this issue. Additionally, law enforcement efforts to identify and prosecute traffickers must be increased to hold perpetrators accountable and provide justice for victims.</p>
                <p>Despite the scale of the problem, there is hope for ending human trafficking. By working together and taking concrete steps to prevent, identify, and address trafficking, we can make a difference. It is up to all of us to take action and support organizations working to end human trafficking, both in our local communities and around the world. Through education, awareness, and advocacy, we can create a world where human trafficking is no longer a reality.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}