{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="masthead" style="background-image: url('{% static 'img/BYU.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Our Team</h1>
                    <span class="subheading">BYU Students Raising Awareness About Human Trafficking</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-10">
                <body>
                    <h2 style="color: black; text-align: center;">Why we created our project</h2>
                    <p> &nbsp &nbsp &nbsp &nbsp We are group of Information Systems students that wanted to build a website aimed 
                        at raising awareness for human trafficking. As a team, we recognized the immense 
                        scale of human trafficking as a crime that affects millions of people worldwide. 
                        We were deeply motivated to take action against this heinous crime and make a meaningful 
                        difference. Our website aims to educate others about the issue and encourage people to 
                        take action against human trafficking. Through this project, we hope to inspire others 
                        to get involved and use technology to promote social justice and create positive change in the world.</p>
                </body>
            </div>
        </div>
    </div>
    <p></p>
    <hr>
    <p></p>
    <!--Section 1 Matt Beckstrand-->
    <div>
        <div id="edu" style="padding-right: 110px; padding-left: 70px; ">
            <p>&nbsp;</p>
            <img src="{% static 'img/Parker.jpeg' %}" alt="Education Photo in High School" height="400px" class="imgformat"> 
                <h2 class="post-title">&nbsp; &nbsp; Matt Beckstrand</h2>
                <hr>
            <p style="padding-top: 10px;"> &nbsp &nbsp &nbsp Academics has been a priority in my life and I hope to pursue a path of lifelong learning. I enjoy learning about a variety of topics, such as business, science, and technology. During my time at Brigham Young University, I have had the opportunity to learn from other students and dedicated professors. My passion is to further my education in business and technology in order to better the world around me. In particular, I am looking to apply to the Information Systems Program at Brigham Young University. </p>
        </div>
        <p>&nbsp;</p>
        <!--Section 2 Caroline Conley -->
        <div id="edu" style="padding-right: 30px; padding-left: 110px; ">
            <p>&nbsp;</p>
            <img src="{% static 'img/Parker.jpeg' %}" alt="Education Photo in High School" height="400px" class="imgformatr"> 
                <h2 class="post-title" style="text-align:right;">Caroline Conley &nbsp; &nbsp;</h2>
                <hr>
            <p style="padding-top: 10px;"> &nbsp &nbsp &nbsp Academics has been a priority in my life and I hope to pursue a path of lifelong learning. I enjoy learning about a variety of topics, such as business, science, and technology. During my time at Brigham Young University, I have had the opportunity to learn from other students and dedicated professors. My passion is to further my education in business and technology in order to better the world around me. In particular, I am looking to apply to the Information Systems Program at Brigham Young University. </p>
        </div>
        <p>&nbsp;</p>
        <!--Section 3 Baylee Elbakri-->
        <div id="edu" style="padding-right: 110px; padding-left: 75px; ">
            <p>&nbsp;</p>
            <img src="{% static 'img/Parker.jpeg' %}" alt="Education Photo in High School" height="400px" class="imgformat"> 
                <h2 class="post-title">&nbsp; &nbsp; Baylee Elbakri</h2>
                <hr>
            <p style="padding-top: 10px;"> &nbsp &nbsp &nbsp Academics has been a priority in my life and I hope to pursue a path of lifelong learning. I enjoy learning about a variety of topics, such as business, science, and technology. During my time at Brigham Young University, I have had the opportunity to learn from other students and dedicated professors. My passion is to further my education in business and technology in order to better the world around me. In particular, I am looking to apply to the Information Systems Program at Brigham Young University. </p>
        </div>
        <p>&nbsp;</p>
        <!--Section 4 Jack Kelly-->
        <div id="edu" style="padding-right: 30px; padding-left: 110px; ">
            <p>&nbsp;</p>
            <img src="{% static 'img/Parker.jpeg' %}" alt="Education Photo in High School" height="400px" class="imgformatr"> 
                <h2 class="post-title" style="text-align:right;">Jack Kelly &nbsp; &nbsp;</h2>
                <hr>
            <p style="padding-top: 10px;"> &nbsp &nbsp &nbsp Academics has been a priority in my life and I hope to pursue a path of lifelong learning. I enjoy learning about a variety of topics, such as business, science, and technology. During my time at Brigham Young University, I have had the opportunity to learn from other students and dedicated professors. My passion is to further my education in business and technology in order to better the world around me. In particular, I am looking to apply to the Information Systems Program at Brigham Young University. </p>
        </div>
        <p>&nbsp;</p>
         <!--Section 5 Adam Trommlitz-->
        <div id="edu" style="padding-right: 110px; padding-left: 75px; ">
            <p>&nbsp;</p>
            <img src="{% static 'img/Parker.jpeg' %}" alt="Education Photo in High School" height="400px" class="imgformat"> 
                <h2 class="post-title">&nbsp; &nbsp; Adam Trommlitz</h2>
                <hr>
            <p style="padding-top: 10px;"> &nbsp &nbsp &nbsp Academics has been a priority in my life and I hope to pursue a path of lifelong learning. I enjoy learning about a variety of topics, such as business, science, and technology. During my time at Brigham Young University, I have had the opportunity to learn from other students and dedicated professors. My passion is to further my education in business and technology in order to better the world around me. In particular, I am looking to apply to the Information Systems Program at Brigham Young University. </p>
        </div>
        <p>&nbsp;</p>
        <!--Section 6 Parker Watts-->
        <div id="edu" style="padding-right: 30px; padding-left: 110px; ">
            <p>&nbsp;</p>
            <img src="{% static 'img/Parker.jpeg' %}" alt="Education Photo in High School" height="400px" class="imgformatr"> 
                <h2 class="post-title" style="text-align:right;">Parker Watts &nbsp; &nbsp;</h2>
                <hr>
            <p style="padding-top: 10px; padding-right: 100px;"> &nbsp &nbsp &nbsp Academics has been a priority in my life and I hope to pursue a path of lifelong learning. I enjoy learning about a variety of topics, such as business, science, and technology. During my time at Brigham Young University, I have had the opportunity to learn from other students and dedicated professors. My passion is to further my education in business and technology in order to better the world around me. In particular, I am looking to apply to the Information Systems Program at Brigham Young University. </p>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</main>
{% endblock %}