{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Header-->
<link href="{% static 'css/form.css' %}" rel="stylesheet" />
<header class="masthead" style="background-image: url('{% static 'img/BackgroundDetail.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Details</h1>
                    <span class="subheading">{{data.first_name}} {{data.last_name}}</span>
                
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="formbold-main-wrapper" style="text-align: center; padding-bottom: 50px;">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
      <form action="https://formbold.com/s/FORM_ID" method="POST">
        <div class="formbold-form-title">
          <h2 class=""><u>Information</u></h2>
          <p>
          </p>
        </div>
        <div class="formbold-input-flex">
          <div>
            <label for="firstname" class="formbold-form-label">
              First name
            </label>
            <input
              type="text"
              value="{{data.first_name}}"
              class="formbold-form-input"
            />
          </div>
          <div>
            <label for="lastname" class="formbold-form-label"> Last name </label>
            <input
              type="text"
             value="{{data.last_name}}"
              class="formbold-form-input"
            />
          </div>
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="datemissing" class="formbold-form-label"> Date Missing </label>
            <input
              type="text"
              value="{{data.date_missing}}"
              class="formbold-form-input"
            />
          </div>
          <div>
            <label for="phone" class="formbold-form-label">City</label>
            <input
              type="text"
              value="{{data.city}}"
              class="formbold-form-input"
            />
          </div>
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="state" class="formbold-form-label"> State </label>
            <input
              type="text"
              value="{{data.state}}"
              class="formbold-form-input"
            />
          </div>
          <div>
            <label for="country" class="formbold-form-label"> Age at Missing </label>
            <input
              type="text"
              value="{{data.age_at_missing}}"
              class="formbold-form-input"
            />
          </div>
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="post" class="formbold-form-label"> Gender</label>
            <input
              type="text"
              value="{{data.gender}}"
              class="formbold-form-input"
            />
          </div>
          <div>
            <label for="area" class="formbold-form-label"> Race</label>
            <input
              type="text"
              value="{{data.race}}"
              class="formbold-form-input"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
