{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'img/BackgroundDetail.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Details</h1>
                    <span class="subheading">{{data.first_name}} {{data.last_name}}</span>
                
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7" style = "text-align: center;">
            <h1>Display Data</h1>
            <div class="my-5">
        <form>
            <label>Name</label>
            <input type="text" value="{{data.first_name}} {{data.last_name}}">   
            <br> 
            <label>Date Missing</label>
            <input type="text" value="{{data.date_missing}}">
            <br> 
            <label>City</label>
            <input type="text" value="{{data.city}}">
            <br> 
            <label>State</label>
            <input type="text" value="{{data.state}}">
            <br> 
            <label>Age at Missing</label>
            <input type="text" value="{{data.age_at_missing}}">
            <br> 
            <label>Gender</label>
            <input type="text" value="{{data.gender}}">
            <br> 
            <label>Race</label>
            <input type="text" value="{{data.race}}">
        </form>    
        
            </div>
        </div>
    </div>
</main>
{% endblock %}
