{% extends 'base.html' %}
{% block content %}
{% load static %}
 <!-- Page Header-->
 <header class="masthead" style="background-image: url('{% static 'img/HomePage.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Main Page</h1>
                    <span class="subheading">This is the landing page for the JSON data</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <h1 style="text-align: center;"><u>JSON Data</u></h1>
        <br><br><br>
        <table class="table table-bordered table-dark table-hover">
            <tr>
                <th>Date Missing</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age at Missing</th>
                <th>City</th>
                <th>State</th>
                <th>Gender</th>
                <th>Race</th>
            </tr>
            {% for oMissingPerson in data %}
            <tr>
                <td>{{oMissingPerson.date_missing}}</td>
                <td>{{oMissingPerson.first_name}}</td>
                <td>{{oMissingPerson.last_name}}</td>
                <td>{{oMissingPerson.age_at_missing}}</td>
                <td>{{oMissingPerson.city}}</td>
                <td>{{oMissingPerson.state}}</td>
                <td>{{oMissingPerson.gender}}</td>
                <td>{{oMissingPerson.race}}</td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
    </div>
</div>
</main>
{% endblock %}