.imgformat{
    padding-left: 30px;
    float: left;
    margin-right: 80px;
    margin-bottom: 10px;
    position: sticky;
  }
  .imgformatr{
    padding-left: 80px;
    float: right;
    margin-right: 80px;
    margin-bottom: 10px;
  }

  .customhead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover; }